/* Index Page */
.indexBody {
    background: url("./assets/images/green-pine-trees-covered-with-fogs-under-white-sky-during-167699.jpg");
    background-size: auto;
}

.pageBody   {
    background: url("./assets/images/green-pine-trees-covered-with-fogs-under-white-sky-during-167699_dark.jpg");
    background-size: auto;
}

    /* Photo by Lum3n.com from Pexels */

#logo {
    width: 100px;
    height:100px;
}

h3 {
    font-family: 'Comfortaa', cursive;
}

#navLogo{
    height: 40px;    
}

#navLinkedIn {
    height: 30px;       
}

#logoContainer {
 margin-top: 30vh;
}

#profilePic {
    max-width: 200px;
}

.contact {
    height: 30px;
    margin-bottom: 15px;
}

#contact {
    list-style-type: none;
    margin-left: 0px;
}

.text {
    color: white;
    font-size: 20px;
    line-height: 125%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.imgOverlay {
    position: relative;
    top: -150px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 150px;
    opacity: 0;
    transition: .5s ease;
    background-color: #383337;
}

.thumbnail:hover .imgOverlay {
    opacity: .95;
  }

.thumbnail {
    width: 150px;
    height: 150px;
    opacity: 1;
}


#projectTiles {
    max-width: 700px;    
}

.Icon {
    width: 40px;
    position: absolute;  
    z-index: 1;
} 