/* Index Page */
#logo {
    width: 100px;
}

.index-button {
    vertical-align: middle;
}

#navLogo{
    height: 40px;    
}

#navLinkedIn {
    height: 30px;
       
}

#logoContainer {
 margin-top: 30vh;
}

#profilePic {
    max-width: 200px;
}

h3 {
    margin-top: 0px;
}

a {
    height: 64px;
}

/* work page */
#about, #work {
    margin-top: 50px;
}

img {
    margin: 0px;
}

#workDev, #work3d, #workBuilt {
       
    margin: 0px;
}