/* Index Page */
.indexBody {
    background: url("./assets/images/green-pine-trees-covered-with-fogs-under-white-sky-during-167699.jpg");
    background-size: auto;
}

.pageBody   {
    background: url("./assets/images/green-pine-trees-covered-with-fogs-under-white-sky-during-167699_dark.jpg");
    background-size: auto;
}

    /* Photo by Lum3n.com from Pexels */

#logo {
    width: 100px;
    height:100px;
}

h3 {
    font-family: 'Comfortaa', cursive;
}

#navLogo{
    height: 40px;    
}

#navLinkedIn {
    height: 30px;       
}

#logoContainer {
 margin-top: 30vh;
}

#profilePic {
    max-width: 200px;
}

.contact {
    height: 30px;
    margin-bottom: 15px;
}

#contact {
    list-style-type: none;
    margin-left: 0px;
}

.imgOverlay {
    background-color: black;
}

.thumbnail {
    width: 150px;
    opacity: .3;
}

.thumbnail:hover {    
    opacity: 1;
}

#projectImage {
    object-fit: cover;
}

#projectTiles {
    max-width: 700px;
}

.Icon {
    width: 40px;
    position: absolute;  
    z-index: 1;
} 

