#logo {
    width: 100px;
}

#navLogo{
    height: 30px;
    margin-top: 20px;
}

#navLinkedIn {
    height: 30px;
    margin-top: 20px;   
}

#logoContainer {
 margin-top: 30vh;
}

#profilePic {
    max-width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;

}

h3 {
    margin-top: 0px;
}

a {
    height: 64px;
}

#about, #work {
    margin-top: 50px;
}

#workDev, #work3d, #workBuilt {
    height: 150px;
    background-color: cadetblue;
    margin: 0px;
}